<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de Vue 3</title>

    <link rel="stylesheet" href="./img/styles.css">
</head>
<body>
    <div id="app">
          <div :style="styles">
              <label for="themeBlack">
                  <input type="checkbox" :checked="themeBlack" @click="toogleTheme" name="themeBlack" id="themeBlack">Tema Escuro
              </label>
             <h1>{{ title }}</h1>

             <p>{{ fullName }}</p>
    
            <hr>
            <h3>Carrinho ({{ cart.length }})</h3>
                   
            <ul>
                <li v-for="(product, index) in products" :key="index">
                    <product-detail
                        :product="product"
                        :product-in-cart="inCart(product)"
                        @add-prod-cart="addCart">                        
                    </product-detail>
                    <!-- <a 
                       href="#" 
                       @click.prevent="removeCart(product)"        
                       v-if="inCart(product)">
                       REMOVE CART
                    </a> -->                  
                </li>
            </ul>
            
            <hr>
            <exemple-form></exemple-form>
          </div>
    </div><!--app-->
    
  <script src="https://unpkg.com/vue@next"></script> 
  <script src="./app.js"></script> 
  <script src="./components/ProductDetail.js"></script> 
  <script src="./components/ExempleForms.js"></script> 
 <script>
     app.mount('#app')
 </script>
</body>
</html>